/* Our CSS file. */


#container{
width: 100%;
height: 100%;
}
.first, .second {
width: 100%;
height: 50%;
background-color: #f2f2f2;
}


.first-left, .first-right {
    display: inline-block;
 
}
.first-left {
    margin-left: 25%;
    width: 20%;
    text-align: left;

}

.first-right {
    float: right;
 margin-top: 70px;
    width: 30%;
    margin-right: 15%;
    
}
.second {
    margin-top: 10px;
    position: absolute;
    text-align: center; 
    padding-top: 40px;
    
}
.second-top {
    width: 30%;
    margin-left: 35%;
}
.second-bottom {
    padding-top: 30px;
    background-color: #f2f2f2;
}
 input {
     background-color: black;
     color: white;
 }
 .button {
     margin-bottom: 20px;

 }