/* Our CSS file. */


#container {
width: 100%;
height: 100%;
border:2px solid black;
}
header {
    border:2px solid black;
    margin: 5px;
    background-color:antiquewhite;
    height: 15vh;
}
.logo {
    height: 11vh;
    width: 10vw;
    padding: 2vh;
    display: inline;
}
.search {
    background-color: cadetblue;
    color: black;
    display: inline-block;
    width: 15vw;
    height: 3vh;
    border: 2px solid black;
    float: right;
    margin-top: 5vh;
    margin-right: 1.5vw;
    
}
nav {
    background-color: rgb(133, 89, 122);
    text-align: center;
    border: 2px solid black;
    margin: 5px ;
}
.link {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    color: rgb(4, 1, 1);
}
a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
div {
    margin: 5px;
}
.image {
    height: 26vh;
    width: 22.5vw;
    margin: 5px;
}

.left, .middle, .right {
    display: inline-block;
    height: 55vh;
    border: 2px solid black;
    margin: 5px;
}
.right {
    float: right;
}
.middle{
    width:70vw;
    margin-left: 14vw;
    
}
.left, .right {
    width: 12vw;
    background-color: rgb(62, 131, 204);
    position: absolute;
    
}
li{
    padding-bottom: 10px;
    text-align: left;
    font-size: 20px;
}
.list {
    list-style: none;
}
footer {
    height: 10vh;
    border: 2px solid black;
    background-color: rgb(223, 75, 75);
    margin: 5px;
}

